/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@500;700&display=swap');
/* common styles  */
body{
    font-family: 'Poppins','Inter', sans-serif;
}

/*-------------------------------
     top banner section styles  
--------------------------------*/
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 117px;
}
.banner-text-container{
  
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-text{
     width: 582px;
}
.banner-title{
    font-size: 52px;
    font-weight: 700;
    margin: 0 0 16px 0;
}
.banner-desc{
    width: 505px;
}
.banner-button{
    color: #fff;
    background-color: #E02C6D;
    padding: 10px 24px;
    border:none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 700;
}
.arrow{
    margin-left: 8px;
}
.banner-image{
    background-size: 475px;
    background-image: url("../assets/images/circle.svg");
    background-repeat: no-repeat;
   
    
}
.banner-image img{
    width: 440px;
    height: 430px;
    position: relative;
    top: 30px;

}

/*--------------------------------
     media query breakpoints  
----------------------------------*/
@media screen and (max-width:576px) {
    /*----------------------
        top banner styles  
    ------------------------*/
    .banner{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .banner-image{
        background-size:  257px;
    }
    .banner-image img{
        width: 202px;
        height: 190px;
        position: relative;
        left: 25px;
        top: 20px;
        
    }
    .banner-text{
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .banner-title{
        font-size: 28px;
    }
    .banner-desc{
        width: 321px;
        height: 65px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        margin: auto;
    }
    .banner-button{
        margin-top: 16px;
    }
    .partners{
        margin: 50px 0;
    }

    
}